In [2]:
a = []
b = ()

a.append(1)
print(a)

b.append(1)
print(b)

[1]

AttributeError: 'tuple' object has no attribute 'append'

In [6]:
a = [1,2,3]
b = (1,2,3)
print(b)
print(b[0])

a[0] = 10
print(a[0])

b[0] = 10
print(b[0])

(1, 2, 3)
1
10

TypeError: 'tuple' object does not support item assignment

In [8]:
a = [1,2,(3,4,5),6,7]
a[0] = 10
a[1] = 20
print(a)

a[2][0] = 30
print(a)

[10, 20, (3, 4, 5), 6, 7]

TypeError: 'tuple' object does not support item assignment

In [9]:
b = (1,2,[3,4,5],6,7)
b[0] = 10
b[1] = 20
b[2] = 30
b[3] = 60
b[4] = 70
print(b)

TypeError: 'tuple' object does not support item assignment

In [13]:
b = (1,2,[3,4,5],6,7)
print(b[2])

print(b[2][0])
b[2][0] = 30
print(b[2][0])
print(b)

[3, 4, 5]
3
30
(1, 2, [30, 4, 5], 6, 7)

In [35]:
a = [(1,'대'), (2,'한'), (3,'민'), (4,'국')]
print(a[0][1], a[1][1], a[2][1], a[3][1])

대 한 민 국

In [36]:
문자열 = ''
for d1 in [(1,'대'), (2,'한'), (3,'민'), (4,'국')]:
    문자열 += d1[1]
print(문자열)

대한민국

In [24]:
b = [1,2,3,4,5]
b[2] = [1,2,3,4,5,6,7,8,9]
print(b)

[1, 2, [1, 2, 3, 4, 5, 6, 7, 8, 9], 4, 5]

In [37]:
데이터 = [1,2,3,4,5]
배열 = []
for 값 in range(1,10):
    배열.append(값)
    
데이터[2] = 배열
print(데이터)

[1, 2, [1, 2, 3, 4, 5, 6, 7, 8, 9], 4, 5]